body {
  margin: 0;
}
div {
  width: 2.8rem;
  height: 2.8rem;
  background: green;
  float: left;
  font-size: 20px;
}
[data-dpr="2"] div {
  font-size: 40px;
}
[data-dpr="2.5"] div {
  font-size: 50px;
}
[data-dpr="2.75"] div {
  font-size: 55px;
}
[data-dpr="3"] div {
  font-size: 60px;
}
[data-dpr="4"] div {
  font-size: 80px;
}
