<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>147-vue起步单选按钮</title>
</head>
<body>
<div id="app">
    <input type="radio" id="one" value="one" v-model="picked">
    <label for="one">one</label>
    <input type="radio" id="two" value="two" v-model="picked">
    <label for="two">two</label>
    <br>
    <span>picked:{{picked}}</span>
</div>


<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el:'#app',
        data: {
            picked: ""
        }
    });
</script>
</body>
</html>