.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    background: #FFFFFF;
}

.header i {
    display: inline-block;
    margin-left: 1em;
    width: 40px;
    height: 40px;
    vertical-align: top;
    background: url("../images/back.png") no-repeat center center;
    background-size: 70%;
}

.main .hd {
    margin-top: 50px;
    width: 100%;
}

.main .hd p {
    margin: 0.5em;
}

.main .hd img {
    width: 2em;
    vertical-align: top;
}

.main .hd span.category {
    line-height: 1.5em;
    font-size: 1.25em;
    margin-left: 0.5em;
}

.main .hd h3 {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0.5em;
    border-bottom: 1px solid #d4d4d4;
}

.main .hd span.date {
    font-size: 0.875em;
    margin: 0 0.875em;
}

.main .bd {
    padding: 0.875em;
    font-size: 0.875em;
}

.main .ft {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d4d4d4;
    background: #FFFFFF;
}

.main .ft ul {
    width: 100%;
    padding: 0 5%;
}

.main .ft ul li {
    text-align: center;
    display: inline-block;
}

.main .ft ul li:nth-child(1),
.main .ft ul li:nth-child(2),
.main .ft ul li:nth-child(3),
.main .ft ul li:nth-child(4) {
    width: 20%;
}

.main .ft ul li i {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.main .ft ul li:nth-child(1) i {
    background: url("../images/rate.png") no-repeat center center;
    background-size: 60%;
}

.main .ft ul li:nth-child(2) i {
    background: url("../images/good.png") no-repeat center center;
    background-size: 60%;
}

.main .ft ul li:nth-child(3) i {
    background: url("../images/love.png") no-repeat center center;
    background-size: 60%;
}

.main .ft ul :nth-child(4) i {
    background: url("../images/share.png") no-repeat center center;
    background-size: 60%;
}

.main .ft ul li span {
    display: inline-block;
    line-height: 40px;
    font-size: 0.875em;
    vertical-align: top;
}