body,h1,h2,h3,h4,h5,h6,p,dl,dd {
	margin: 0;
}
body {
	font-size: 14px;
	color: #333333;
	font-family: "微软雅黑";
}
ul,ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	border: none;
	vertical-align: middle;			//图片已垂直居中的方式对齐
}
a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	color: #b4a078;
}
input {
	margin: 0;
	padding: 0;
	vertical-align: middle;			//表单与表单对齐
	border: 1px solid #CCCCCC;
}
label {
	vertical-align: middle;
}
table {
	border-collapse: collapse;
}
th,td {
	padding: 0;
}

.center {
	width: 1090px;
	margin: 0 auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.scaleImg img {
	transition: 1s ease-out;
	transform: scale(1);
}
.scaleImg:hover img {
	transform: scale(1.05);
}
.original {
	background: #f4f4f4 url(../img/original.png) center no-repeat;			//默认显示背景图片,通过js控制src
}

/*-------------头部------------*/
#head {
	border-bottom: 1px solid #f3f3f3;
	box-shadow: 0 2px 2px #f3f3f3;
}
#head .topNav {
	background: #333333;
	font-size: 12px;
	line-height: 36px;
}
#head .topNav .left {
	color: #CCCCCC;
}
#head .topNav li {
	float: left;
	position: relative;
}
#head .topNav li a {
	color: #CCCCCC;
	padding: 0 10px;
	border-left: 1px solid #5c5c5c;
}
#head .topNav li a:hover {
	color: #FFFFFF;
}
#head .topNav li a.noborder {
	border: none;			//覆盖样式,需要同级别,即需要把前面的曾跌掉
}
#head  li a.margin {
	margin-right: 10px;
}
#head .customer {
	padding-right: 10px;
	background: url(../img/customer_bg1.gif) no-repeat 68px center;
	margin-right: 10px;
}
#head .customer:hover {
	background: url(../img/customer_bg2.gif) no-repeat 68px center;
}
#head .customer:hover ul {
	display: block;
	z-index: 2;
}
#head .customer ul {
	position: absolute;
	border: 1px solid #DDDDDD;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	background: #FFFFFF;
	display: none;
}
#head .customer ul:before,
#head .down div:before {
	width: 10px;
	height: 6px;
	content: '';
	display: block;
	background: url(../img/ico_02.png);
	position: absolute;
	left: 0;
	top: -6px;
	right: 0;
	margin: auto;
}
#head .customer ul li {
	float: none;
}
#head .customer ul li a {
	display: block;
	padding: 0;
	border-left: none;
	border-bottom: 1px solid #DDDDDD;
	text-align: center;
	margin: 0 10px;
	color: #999999;
}
#head .customer ul li a:hover {
	color: #b4a078;
}
#head .customer ul li a.noborder {
	border-bottom: none;
}

#head .customer li.service {
	background: url(../img/phone_bg1.gif) no-repeat  62px center ;
}
#head .customer li.service:hover {
	background: url(../img/phone_bg2.gif) no-repeat  62px center ;
}
#head .customer li.service:hover div {
	display: block;
}
#head .customer li.service div {
	position: absolute;
	width: 110px;
	height: 57px;
	right: -110px;
	top: 0;
	line-height: 20px;
	/*border: 1px solid #DDDDDD;*/
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	background: #FFFFFF;
	text-align: center;
	display: none;
}
#head .customer li.service div p:nth-child(1) {
	font-size: 14px;
	color: #999999;
	margin-top: 10px;
}
#head .customer li.service div p:nth-child(2) {
	color: #CCCCCC;
}

#head .topNav .down a {
	padding-left: 25px;
	background: url(../img/ico_01.png) no-repeat 10px center;
}
#head .down div {
	display: none;
}
#head .down:hover div {
	display: block;
	z-index: 2;
}
#head .down div {
	position: absolute;
	border: 1px solid #DDDDDD;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	padding: 10px;
	left: -46px;
	line-height: 20px;
	color: #b4a078;
	background: #FFFFFF;
}

/*-------------搜索------------*/
.search {
	margin: 40px 0;
}
.search .center {
	position: relative;
	height: 60px;
}
.search .center h1 {
	position: absolute;
	left: 50%;
	margin-left: -90px;
}
.search .searchBox {
	float: right;
	height: 25px;
	margin: 16px 40px 0 0;
	font-size: 0;
}
.search  input {
	width: 250px;
	height: 24px;
	line-height: 24px;
	border:none;
	border-bottom: 1px solid #d8cebc;
	color: #666666;
	outline: none;
	font-size: 12px;
}
.searchBox a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/ico_03.gif) no-repeat center center;
	vertical-align: middle;
}

/*-------------导航------------*/
.mainNav {
	position: relative;
	background: #FFFFFF;
}
.mainNav .center {
	position: relative;
}
.mainNav .logo,
.mainNav .login {
	display: none;
}
.mainNav .navBar,.mainNav .subNav {
	font-size: 0px;
	text-align: center;
}
.mainNav .navBar li,.mainNav .subNav li {
	display: inline-block;
	font-size: 14px;
	padding: 0 30px;
	height: 50px;
}
.mainNav .navBar li.sep {
	padding: 0;
	color: #CCCCCC;
}
.mainNav .navBar li a {
	font-weight: bold;
}
.mainNav .navBar li a.active,
.mainNav .navBar li a:hover {
	border-bottom: 3px solid #b4a078;
	padding-bottom: 4px;
}
/*购物车*/
.mainNav .cartWrap {
	position: absolute;
	right: 0;
	top: -80px;
	width: 20px;
	height: 20px;
	background: url(../img/ico_04.gif);
	cursor: pointer;
	
}
.mainNav .cartWrap i {
	font: 12px/20px "微软雅黑";
	position: absolute;
	color: #FFFFFF;
	width: 20px;
	height: 20px;
	top: -10px;
	right: -10px;
	text-align: center;
	border-radius: 50%;
	background: #d4282d;
}
.mainNav .cartWrap .cart{
	display: none;
	width: 328px;
	border: 1px solid #b4a078;
	box-shadow: 0 3px 3px rgba(0,0,0,0.4);
	position: absolute;
	top: 30px;
	right: -22px;
	background: #ffffff;
}
.mainNav .cartWrap .cart:before {
	content: '';
	display: block;
	width: 12px;
	height: 8px;
	position: absolute;
	top: -8px;
	right: 24px;
	background: url(../img/ico_17.gif);
}
.mainNav .cartWrap .cart .list {
	height: 244px;
	position: relative;
	overflow: hidden;
	padding-top: 10px;
}
.mainNav .cartWrap .cart .list ul {
	padding-left: 15px;
	position: absolute;
	left: 0;
	top: 10px;
}
.mainNav .cartWrap .cart .list ul li {
	height: 60px;
	margin-bottom: 10px;
}
.mainNav .cartWrap .img {
	float: left;
}
.mainNav .cartWrap img {
	width: 60px;
	height: 60px;
	background: #f4f4f4;
}
.mainNav .cartWrap .cart .list .message {
	width: 145px;
	float: left;
	padding: 5px 0 0 10px;
}
.mainNav .cartWrap .cart .list .message p:nth-child(1) {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font: 12px/25px "微软雅黑";
}
.mainNav .cartWrap .cart .list .message p:nth-child(2) {
	color: #c5c5c5;
}
.mainNav .cartWrap .cart .list .price {
	float: left;
	padding-top: 5px;
	color: #d4282d;
	width: 55px;
	font: 12px/25px "微软雅黑";
}
.mainNav .cartWrap .cart .list .close {
	float: left;
	width: 26px;
	font: 16px/25px "微软雅黑";
	padding-top: 5px;
	color: #c5c5c5;
	/*cursor: pointer;*/
}
/*滚动条*/
.mainNav .cartWrap .cart .list .scrollBar {
	float: right;
	width: 17px;
	height: 244px;
	background: #F1F1F1;
}
.mainNav .cartWrap .cart .list .scrollBar span {
	display: block;
	width: 17px;
	height: 17px;
}
.mainNav .cartWrap .cart .list .scrollBar .topBtn {
	background: url(../img/topBtn_bg.gif) no-repeat 0 0;
}
.mainNav .cartWrap .cart .list .scrollBar .topBtn:hover {
	background: url(../img/topBtn_bg.gif) no-repeat 0 -34px;
}
.mainNav .cartWrap .cart .list .scrollBar .topBtn:active {
	background: url(../img/topBtn_bg.gif) no-repeat 0 -51px;
}
.mainNav .cartWrap .cart .list .scrollBar .bottomBtn {
	background: url(../img/bottomBtn_bg.gif) no-repeat 0 0;
}
.mainNav .cartWrap .cart .list .scrollBar .bottomBtn:hover {
	background: url(../img/bottomBtn_bg.gif) no-repeat 0 -34px;
}
.mainNav .cartWrap .cart .list .scrollBar .bottomBtn:active {
	background: url(../img/bottomBtn_bg.gif) no-repeat 0 -51px;
}
.mainNav .cartWrap .cart .list .scrollBar  .slideWrap {
	height: 210px;
	position: relative;
}
.mainNav .cartWrap .cart .list .scrollBar  .slideWrap .slide {
	position: absolute;
	top: 0;
	width: 17px;
	height: 50px;		//根据内容高度耳钉
	background: #c1c1c1;
}
.mainNav .cartWrap .cart .list .scrollBar  .slideWrap .slide:hover {
	background: #a9a9a9;
}
.mainNav .cartWrap .cart .list .scrollBar  .slideWrap .slide:active {
	background: #787878;
}
.mainNav .cartWrap .total {
	height: 66px;
	background: #f4f0ea;
	font: 12px/66px "微软雅黑";
	text-align: center;
}
.mainNav .cartWrap .total span {
	color: #c04646;
}
.mainNav .cartWrap .total a {
	display: inline-block;
	width: 110px;
	height: 36px;
	line-height: 36px;
	background: #b4a078;
	color: #ffffff;
	margin-left: 20px;
	border-radius: 2px;
}
.mainNav .cartWrap .total a:hover {
	opacity: 0.8;
}


/*弹出导航样式*/
.mainNav .subNav {
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	padding-bottom: 20px;
	display: none;
}
.mainNav .subNav ul {
	display: none;
}
.mainNav .subNav img {
	display: block;
	margin: 0 auto 10px auto;
}
.mainNav .subNav a {
	font-weight: bold;
}
.mainNav .subNav ul li {
	height: auto;
}

/*吸顶导航样式*/
#navFix {
	position: fixed;
	top: 0;
	width: 100%;		
	z-index: 3;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
#navFix .logo {
	display: block;
	float: left;
	margin: 13px 40px 0 0;
}
#navFix .navBar {
	float: left;
}
#navFix .navBar li:nth-last-child(1),
#navFix .navBar li:nth-last-child(2),
#navFix .navBar li:nth-last-child(3) {
	display: none;
}
#navFix .navBar li {
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
}
#navFix .login {
	display: block;
	float: right;
	line-height: 60px;
}
#navFix .login a {
	margin-right: 20px;
	font-size: 12px;
	color: #666;
}
#navFix .cartWrap {
	position: relative;
	float: right;
	top: 20px;
}
#navFix .subNav {
	/*display: block;*/
	padding-top: 10px;
}

/*面包屑*/
#position {
	width: 1090px;
	margin: 0 auto;
	font-size: 12px;
	color: #999;
}
#position a {
	line-height: 60px;
}
#position a:hover {
	color: #333;
	text-decoration: underline;
}
/*footer开始*/
section.service {
	background: #FFFFFF;
}
section.service ul {
	position: relative;
	padding: 60px 0 34px 0;
}
section.service ul li {
	float: left;
	border-right: 1px solid #e9e9e9;
	text-align: center;
	width: 363px;
	height: 204px;
	box-sizing: border-box;
}
section.service ul li .service_hd {
	font: 16px/18px "微软雅黑";
}
section.service ul li:first-child .service_bd .serviceTel {
	font: 22px/40px "微软雅黑";
	margin-top: 21px;
}
section.service ul li:first-child .service_bd .openingTime {
	font: 12px/30px "微软雅黑";
}
section.service ul li:first-child .service_bd button {
	width: 98px;
	border: 1px solid #666666;
	font: 14px/26px "微软雅黑";
	border-radius: 3px;
	background: #FFFFFF;
}
section.service ul li:first-child .service_bd button:hover {
	color: #fff;
    background-color: #666;
    border: 1px solid #fff;
}
section.service ul li:first-child .service_bd button:nth-of-type(1) {
	margin: 27px 16px 0 0;
}

section.service ul li.second .service_bd p.attitude {
	text-align: left;
	font: 12px/24px "微软雅黑";
	margin-top: 21px;
	padding: 0 37px;
}
section.service ul li.second .service_bd p.follow {
	text-align: left;
	font: 12px/32px "微软雅黑";
	margin-top: 21px;
	padding: 0 37px;
}
section.service ul li.second .service_bd p.follow span.fa {
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #3cb034;
	display: inline-block;
	margin-left: 15px;
}
section.service ul li.second .service_bd p.follow span.fa-weibo {
	background: #c33c40;
}

section.service ul li:last-child .service_bd img {
	width: 112px;
	margin-top: 21px;
}
section.service ul li:last-child .service_bd p {
	margin-top: 5px;
	color: #b4a078;
	font: 12px/14px "微软雅黑";
}


/*footer结束*/

/*footLink开始*/
section.footLink {
	background: #414141;
}
section.footLink .footLink_hd {
	padding: 38px 0 30px 0;
	border-bottom: 1px solid #4f4f4f;
	text-align: left;
	color: #FFFFFF;
}
section.footLink .footLink_hd ul {
	position: relative;
}
section.footLink .footLink_hd ul li{
	font: 16px/50px "微软雅黑";
	float: left;
	width: 210px;
	height: 51px;
	padding-left: 68px;
	margin-left: 84px;
}
section.footLink .footLink_hd ul li:nth-child(1){
	background: url(../img/tese_icon1.png) no-repeat 0 0;
}
section.footLink .footLink_hd ul li:nth-child(2){
	background: url(../img/tese_icon2.png) no-repeat 0 0;
}
section.footLink .footLink_hd ul li:nth-child(3){
	background: url(../img/tese_icon3.png) no-repeat 0 0;
}
section.footLink .footLink_bd {
	text-align: center;
	color: #999999;
	padding-top: 28px;
	padding-bottom: 22px;
}
section.footLink .footLink_bd a {
	text-decoration: none;
	color: #999999;
	margin: 0 14px;
}
section.footLink .footLink_bd span.sep {
	display: inline-block;
}






/*footLink结束*/

















