/*产品图片*/
#productImg {
	width: 1090px;
	margin: 0 auto;
}
#productImg div.left {
	width: 530px;
}
#productImg img.left {
	width: 428px;
	height: 428px;
	border: 1px solid #E8E8E8;
	background: #f4f4f4;
}
#productImg .smallImg {
	width: 78px;
	height: 430px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	
}
#productImg .smallImg img {
	width: 78px;
	height: 78px;
	border: 1px solid #E8E8E8;
	cursor: pointer;
	background: #f4f4f4;
	box-sizing: border-box;
}
#productImg .smallImg img.active,
#productImg .smallImg img:hover {
	border: 2px solid #B4A078;
}

#productImg .info {
	width: 510px;
}
#productImg .info h2 {
	font: bold 20px/20px "微软雅黑";
}
#productImg .info p {
	color: #999999;
	margin: 15px 0;
	font-size: 12px;
}
#productImg .price {
	background: #F5F5F5;
	padding: 15px 0;
	border: 1px dotted #dedede;
	line-height: 28px;
}
#productImg .price span {
	padding-left: 10px;
	margin-right: 30px;
	font-size: 12px;
	color: #666;
}
#productImg .price strong {
	font: bold 22px/22px "微软雅黑";
	color: #D4282D;
}
#productImg .price a.tag {
	display: inline-block;
	font: 12px/18px "微软雅黑";
	color: #FFFFFF;
	background: #D4282D;
	padding: 0 10px;
	margin-right: 10px;
}
#productImg .price a.discount {
	font-size: 12px;
	color: #D4282D;
	text-decoration: underline;
}
#productImg .price a.service {
	font-size: 12px;
	color: #666666;
	vertical-align: middle;
}
#productImg .price a.service:hover {
	text-decoration: underline;
}
#productImg .price a.service i {
	display: inline-block;
	width: 3px;
	height: 3px;
	vertical-align: middle;
	background: url(../img/ico_15.gif) no-repeat;
	margin: 0 5px 0 15px;
}
#productImg .price a.service i:first-child {
	margin-left: 0;
}
#productImg .format dl {
	position: relative;
	height: 34px;
	line-height: 32px;
	color: #666666;
	font-size: 12px;
	margin: 20px 0;
}
#productImg .format dt {
	padding: 0 10px;
	float: left;
	margin-right: 20px;
	
} 
#productImg .format dd {
	float: left;
	border: 1px solid #ddd;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
	box-sizing: border-box;
	height: 32px;
	padding: 0 10px;
} 
#productImg .format dd.active {
	border: 2px solid #B4A078;
	background: url(../img/ico_16.gif) no-repeat right bottom;
}
#productImg .number * {
	float: left;
	color: #666666;
	font-size: 12px;
	line-height: 29px;
}
#productImg .number span.nTitle {
	padding: 0 10px;
	margin-right: 20px;
}
#productImg .number div>span {
	width: 35px;
	border: 1px solid #ddd;
	font-size: 20px;
	color: #999;
	cursor: pointer;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
#productImg .number div>input {
	width: 60px;
	height: 28px;
	border: 1px solid #DDDDDD;
	border-color: #ddd;
	border-left: none;
	border-right: none;
	text-align: center;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
/*注意优先级*/
#productImg div.noClick span, #productImg div.noClick input {
	cursor: not-allowed;
	opacity: 0.5;
}
#productImg .btn {
	font-size: 0;
	margin-top: 30px;
}
#productImg .btn a {
	display: inline-block;
	width: 168px;
	line-height: 47px;
	font-size: 18px;
	vertical-align: middle;
}
#productImg .btn a.buy {
	color: #B4A078;
	border: 1px solid #B4A078;
	background: #f5f5f5;
	text-align: center;
}
#productImg .btn a.buy:hover {
	background: #FFFFFF;
}
#productImg .btn a.addCart {
	color: #FFFFff;
	background: #B4A078 url(../img/join_bg.gif) no-repeat 25px 13px;
	border: 1px solid #B4A078;
	text-indent: 53px;
	margin: 0 10px;
}
#productImg .btn a.addCart:hover {
	opacity: 0.8;
}
#productImg .btn a.collection {
	width: 50px;
	height: 19px;
	line-height: 19px;
	padding-top: 29px;
	font-size: 14px;
	color: #999;
	border: 1px solid #ccc;
	text-align: center;
	background: url(../img/collection_bg.gif) no-repeat center 6px;
} 

/*大家都在看*/
#look {
	margin: 20px 0;
}
#look .center {
	border: 1px solid #E8E8E8;
}
#look h3 {
	font: bold 18px/44px "微软雅黑";
	background: #F5F5F5;
	text-indent: 20px;
}
#look .content {
	position: relative;
}
#look .content .carsouelImgCon {
	position: relative;
	height: 250px;
	padding-bottom: 20px;
	margin: 0 80px;
}
#look ul {
	width: 1920px;
	position: absolute;
	left: 0;
	overflow: hidden;
}
#look li {
	float: left;
	width: 210px;
	text-align: center;
	margin-right: 30px;
}
#look li img {
	width: 210px;
	height: 210px;
}
#look li a {
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
}
#look li p {
	color: #D4282D;
	margin-top: 16px;
}
.prev,.next {
	width: 30px;
	height: 30px;
	text-align: center;
	background: #d1c5af;
	color: #FFFFFF;
	font-size: 20px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
#look .prev {
	left: 20px;
}
#look .next {
	right: 20px;
}
.prev:hover ,.next:hover {
	background: #B4A078;
}

/*详情*/
#bottom {
	margin-bottom: 80px;
}
#bottom .product {
	float: left;
	width: 750px;
}
#bottom .product_hd {
	height: 42px;
	line-height: 42px;
	border: 1px solid #E8E8E8;
	background: #f5f5f5;
}
#bottom .product_hd a {
	display: inline-block;
	width: 169px;
	text-align: center;
	border-right: 1px solid #E8E8E8;
}
#bottom .product_hd a.active {
	background: #FFFFFF;
	line-height: 41px;
	margin-top: -1px;
	border-top: 3px solid #B4A078;
}
#bottom .product_hd span {
	color: #B4A078;
}
#bottom .product_bd table {
	width: 100%;
	margin: 30px 0;
}
#bottom td {
	height: 40px;
	border-bottom: 1px dotted #E8E8E8;
}
#bottom td:nth-of-type(odd) {
	font-weight: bold;
	width: 135px;
	text-indent: 30px;
}
#bottom td:nth-of-type(even) {
	color: #999;
	width: 240px;
}
#bottom .detailsImg p {
	height: 200px;
	background: #fff url(../img/original.png) no-repeat center center;
}
#bottom .problem {
	margin: 80px 0;
}
#bottom .problem h3 {
	font-size: 18px;
	background: #F5F5F5;
	text-align: center;
	line-height: 52px;
}
#bottom .problem dl {
	margin-top: 30px;
}
#bottom .problem dt {
	margin-bottom: 10px;
}
#bottom .problem dd {
	color: #999;
}


/*评价里的样式*/
#bottom .border {
	border: 1px solid #E8E8E8;
	border-top: none;
	padding: 14px 14px 0 14px
}
#bottom .border .border_hd {
	border-bottom: 1px solid #E8E8E8;
}
#bottom .border .border_hd div {
	float: left;
	padding: 15px 0;
	margin-right: 20px;
	cursor: pointer;
}
#bottom .border .border_hd div i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/input_bg.png) no-repeat 0 -15px;
	margin-right: 10px;
	vertical-align: middle;
}
#bottom .border .border_hd div span {
	vertical-align: middle;
}
#bottom .border .border_hd .active i {
	background: url(../img/input_bg.png) no-repeat 0 0;
}
#bottom .border .border_hd .active span {
	color: #B4A078;
}
#bottom .border .border_bd li {
	border-bottom: 1px dotted #E8E8E8;
	padding: 30px 0;
	overflow: hidden;
}
#bottom .border .border_bd li:last-child {
	border: none;
}
#bottom .border .border_bd li li {
	padding: 0;
	border: none;
}
#bottom .border .border_bd .avatar {
	float: left;
}
#bottom .border .border_bd .avatar img {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto 14px auto;
}
#bottom .border .border_bd .avatar .vip1 {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/vip.gif) no-repeat 0 0;
	vertical-align: middle;
	margin-right: 6px;
}
#bottom .border .border_bd .avatar span {
	vertical-align: middle;
	font-size: 12px;
}
#bottom .border .border_bd  .text {
	float: left;
	width: 630px;
	padding-top: 18px;
}
#bottom .text {
	margin-left: 10px;
}
#bottom .text p {
	line-height: 20px;
	
}
#bottom .text .smallImg {
	margin: 15px 0;
}
#bottom .text .smallImg span {
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	cursor: pointer;
	margin-right: 10px;
}
#bottom .text .smallImg img {
	width: 60px;
	height: 60px;
}
#bottom .text .info {
	font-size: 12px;
	color: #9f9f9f;
	line-height: 16px;
}
#bottom .dialog {
	margin: 10px 0 30px 0;
	border: 1px solid #e8e8e8;
	background: #f5f5f5;
	position: relative;
	height: 510px;
	transition: all 0.3s ease;
	overflow: hidden;
	/*opacity: 0;*/
	height: 0;
}
#bottom .dialog .carouselImgCon {
	position: relative;
	width: 584px;
	height: 438px;
	margin: 50px auto 20px auto;
	overflow: hidden;
}
#bottom .dialog .carouselImgCon ul {
	position: absolute;
	left: 0;
	width: 2000px;
}
#bottom .dialog .carouselImgCon img {
	width: 584px;
	height: 438px;
}
#bottom .dialog .close {
	position: absolute;
	top: 5px;
	right: 15px;
	color: #CCCCCC;
	font-size: 20px;
	cursor: pointer;
}
#bottom .dialog .close:hover {
	color: #999999;
}
#bottom .dialog .prev,
#bottom .dialog .next {
	width: 50px;
	height: 50px;
	text-align: center;
	background: #b0b0b0;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 50px;
	border-radius: 2px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
#bottom .dialog .prev {
	left: 30px;
}
#bottom .dialog .next {
	right: 30px;
}
#bottom .dialog .prev:hover,
#bottom .dialog .next:hover {
	background: #848484;
} 
#bottom .page {
	text-align: right;
	margin-top: 20px;
	font-size: 0;
}
#bottom .page span {
	text-align: center;
	font-size: 12px;
	display: inline-block;
	padding: 7px 10px;
	border: 1px solid #E6E6E6;
	border-left: none;
	/*box-sizing: border-box;*/
	cursor: pointer;
}	
#bottom .page span:hover {
	color: #B4A078;
}
#bottom .page span:first-child {
	border-left: 1px solid #E6E6E6;
}
#bottom .page div {
	display: inline-block;
}
#bottom .page span.active {
	background: #B4A078;
	color: #FFFFFF;
	border: 1px solid #B4A078;
}
#bottom .page span.active:hover {
	opacity: 0.9;
}


/*专题推荐*/
#bottom .special {
	border: 1px solid #E8E8E8;
	width: 298px;
	float: right;
}
#bottom .special h3 {
	font: bold 18px/44px "微软雅黑";
	background: #F5F5F5;
	text-indent: 20px;
}
#bottom .special div {
	width: 260px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
}
#bottom .special div:nth-of-type(1) {
	margin-top: 20px;
}
#bottom .special div a:nth-child(2) {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	background: rgba(0,0,0,0.7);
	color: #FFFFFF;
	font: 14px/30px "微软雅黑";
}
